* {
  border: none;
  border-radius: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}

#workspaces button {
  transition: all 0.3s ease;
  color: #161320;
  background: #fbf1c7;
  border: none;
  border-radius: 50%;
  min-width: 26px;
  min-height: 22px;
  padding: 0;
  margin: 0 4px;
  font-size: 9px;
}

#workspaces button.active {
  color: #161320;
  background: #fe8019;
}

#workspaces button:hover {
  transition: all 0.3s ease;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #161320;
  background: #d65d0e;
  font-size: 11px;
  min-width: 30px;
  min-height: 26px;
  /* border-color: #e8a2af; */
  /* color: #e8a2af; */
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #161320;
  background: #8ec07c;
  /*default: background: #abe9b3; */
}

#clock:hover {
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
}



#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #161320;
  background: #fb4934;
  min-width: 20px;
}

#custom-power:hover {
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

.modules-right {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #161320;
  background:  #d65d0e;
  /*default: background: #ddb6f2; */
}

.modules-right > * {
  transition: all 0.3s ease;
}

.modules-right > *:hover {
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

#network {
  min-width: 200px;
}

#cpu, #memory {
  min-width: 80px;
}

#custom-notification {
  min-width: 30px;
}
